<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Acquired:</strong>
  <%= @book.acquired %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @book.keywords %>
</p>

<%= link_to 'Back', items_path %>
